/* Futura Cyrilic Light */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

/* Futura Cyrilic Book */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicBook.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Futura Cyrilic Medium */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicMedium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

/* Futura Cyrilic Demi */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicDemi.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

/* Futura Cyrilic Bold */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicBold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Futura Cyrilic Extra Bold */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

/* Futura Cyrilic Heavy */
@font-face {
  font-family: 'Futura Cyrillic';
  src: url('/fonts/FuturaCyrillicHeavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

/* Eunomia Bold */
@font-face {
  font-family: 'Eunomia';
  src: url('/fonts/eunomia.bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

/* Eunomia Light */
@font-face {
  font-family: 'Eunomia';
  src: url('/fonts/eunomia.light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Eunomia Regular */
@font-face {
  font-family: 'Eunomia';
  src: url('/fonts/eunomia.regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Flatlion */
@font-face {
  font-family: 'Flatlion';
  src: url('/fonts/Flatlion.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

/* Billstone Signature */
@font-face {
  font-family: 'Billstone Signature';
  src: url('/fonts/BillstoneSignature.ttf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
